@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi Friend!</h1>
    <img src="~/image/IMG_4377.png" alt="You need to work out!!!!!!">
    <div class="mx-auto">
        <label for="aboutMe">About me.</label>
        <p name="aboutMe" >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem nostrum totam eius exercitationem. Aspernatur quis, suscipit earum quam necessitatibus laborum quia porro natus saepe, est vero soluta eos reiciendis quo provident officia blanditiis dolorum neque accusamus voluptates doloremque! Ipsa, id.</p>
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
