<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/Main.css" type="text/css">
</head>
<body>
    @{
        string[] Food = new string[5]
        {
            "Here are some delicious foods!",
            "Apple Pie",
            "burritos",
            "Clams Cosino",
            "Donuts"
        };
            
        foreach(string thisString in Food)
        {
            @if (thisString.Length > 13)
                {
                <h1>@thisString</h1>
                }
            else if (thisString == Food[3])
                {
                <p { style="color: red;" }>@thisString</p>
                }
            else
                {
                <p>@thisString</p>
                } 
        }
    }
</body>
</html>